In [3]:
import pandas as pd

In [4]:
# load data
train_df = pd.read_csv("../open/train.csv")
submission_df = pd.read_csv("../open/sample_submission.csv")

In [5]:
train_df.head()

           일시  최고기온  최저기온   일교차  강수량  평균습도  평균풍속  일조합  일사합  일조율  평균기온
0  1960-01-01   2.2  -5.2   7.4  NaN  68.3   1.7  6.7  NaN  NaN  -1.6
1  1960-01-02   1.2  -5.6   6.8  0.4  87.7   1.3  0.0  NaN  NaN  -1.9
2  1960-01-03   8.7  -2.1  10.8  0.0  81.3   3.0  0.0  NaN  NaN   4.0
3  1960-01-04  10.8   1.2   9.6  0.0  79.7   4.4  2.6  NaN  NaN   7.5
4  1960-01-05   1.3  -8.2   9.5  NaN  44.0   5.1  8.2  NaN  NaN  -4.6

Q: Null 데이터를 어떻게 처리할 것인가
    Q_1: Null 데이터 분포에 따라 다르게 처리할 수 있지 않을까?
    강수량 - 곳곳에 Null이 존재함. 
    일사합 - 오래된 연도에는 데이터가 존재하지 않음. 단, 일조율보다 더 데이터가 부족함
    일조율 - 오래된 연도에는 데이터가 존재하지 않음. 하지만, 일사합 보다는 데이터가 많음

In [6]:
train_df.sample(10)

               일시  최고기온  최저기온   일교차   강수량  평균습도  평균풍속   일조합    일사합   일조율  평균기온
13260  1996-04-21  15.4   5.9   9.5   NaN  66.3   3.2  10.7  20.39  79.9  10.0
17725  2008-07-12  27.7  22.0   5.7  50.5  84.4   2.5   0.0   4.31   0.0  24.5
1009   1962-10-06  22.1   7.5  14.6   NaN  60.5   0.8  10.0    NaN  86.2  15.0
9536   1986-02-09  -0.9  -8.0   7.1   NaN  64.3   2.7   9.2  14.21  86.8  -4.6
12783  1994-12-31   1.3  -4.0   5.3   NaN  61.5   3.6   7.9   8.44  82.3  -1.0
2117   1965-10-18  17.8   4.2  13.6   NaN  69.5   1.4   9.5    NaN  84.8  10.7
22276  2020-12-27  10.0   1.4   8.6   0.0  62.9   1.8   5.9   8.12  61.5   5.8
12173  1993-04-30  18.0   8.1   9.9   2.5  73.0   1.9   2.8  15.62  20.4  12.9
12184  1993-05-11  22.9  12.8  10.1   0.5  53.8   3.7   6.2  15.54  44.0  17.8
14992  2001-01-17  -4.0 -15.1  11.1   0.0  56.0   1.8   4.7   7.92  47.5  -8.4

In [7]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23011 entries, 0 to 23010
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일시      23011 non-null  object
 1   최고기온    23008 non-null  float64
 2   최저기온    23008 non-null  float64
 3   일교차     23007 non-null  float64
 4   강수량     9150 non-null   float64
 5   평균습도    23011 non-null  float64
 6   평균풍속    23007 non-null  float64
 7   일조합     22893 non-null  float64
 8   일사합     18149 non-null  float64
 9   일조율     22645 non-null  float64
 10  평균기온    23011 non-null  float64
dtypes: float64(10), object(1)
memory usage: 1.9+ MB

In [8]:
train_df.value_counts()

일시          최고기온  최저기온   일교차  강수량    평균습도  평균풍속  일조합  일사합    일조율   평균기온
1973-01-01  7.0   -1.2   8.2  2.9    75.0  3.0   2.4  4.81   25.0   3.2     1
2006-07-12  25.1   22.6  2.5  226.5  93.6  3.0   0.0  0.34   0.0    23.8    1
2006-07-25  28.3   20.7  7.6  0.3    68.0  1.1   2.3  13.39  16.1   24.7    1
2006-07-22  27.5   21.2  6.3  9.5    78.4  3.2   5.6  19.11  38.9   23.4    1
2006-07-21  26.7   18.8  7.9  3.5    81.4  1.9   1.0  10.08  6.9    22.1    1
                                                                           ..
1989-07-26  29.9   22.9  7.0  0.0    81.0  1.7   5.6  11.74  39.2   25.4    1
1989-07-25  27.7   23.6  4.1  103.1  95.8  3.1   0.9  4.28   6.3    24.6    1
1989-07-24  30.5   24.3  6.2  1.9    77.3  1.9   2.3  8.35   16.1   27.3    1
1989-07-21  29.0   21.9  7.1  10.1   89.0  1.5   3.4  9.20   23.6   24.9    1
2022-12-31  2.1   -5.1   7.2  0.0    65.5  1.4   1.1  4.16   11.5  -1.2     1
Name: count, Length: 7089, dtype: int64

In [9]:
train_df.isnull().sum()

일시          0
최고기온        3
최저기온        3
일교차         4
강수량     13861
평균습도        0
평균풍속        4
일조합       118
일사합      4862
일조율       366
평균기온        0
dtype: int64

### 2. 데이터 전처리

In [10]:
# 날짜 데이터 변환
train_df['일시'] = pd.to_datetime(train_df['일시'])
train_df = train_df.set_index('일시')
train_df.tail()

            최고기온  최저기온   일교차  강수량  평균습도  평균풍속  일조합    일사합   일조율  평균기온
일시
2022-12-27   3.3  -7.3  10.6  NaN  69.8   1.8  8.8  10.25  91.7  -2.6
2022-12-28   0.1  -6.0   6.1  0.1  58.1   2.5  8.7  10.86  90.6  -3.3
2022-12-29   2.1  -7.8   9.9  0.0  56.3   1.7  9.0  10.88  93.8  -2.9
2022-12-30   2.3  -4.4   6.7  0.0  65.6   1.9  7.9  10.84  82.3  -1.8
2022-12-31   2.1  -5.1   7.2  0.0  65.5   1.4  1.1   4.16  11.5  -1.2

In [11]:
# 데이터의 시간 간격 지정
train_df.index.freq = "D" # ?
train_df.tail()

            최고기온  최저기온   일교차  강수량  평균습도  평균풍속  일조합    일사합   일조율  평균기온
일시
2022-12-27   3.3  -7.3  10.6  NaN  69.8   1.8  8.8  10.25  91.7  -2.6
2022-12-28   0.1  -6.0   6.1  0.1  58.1   2.5  8.7  10.86  90.6  -3.3
2022-12-29   2.1  -7.8   9.9  0.0  56.3   1.7  9.0  10.88  93.8  -2.9
2022-12-30   2.3  -4.4   6.7  0.0  65.6   1.9  7.9  10.84  82.3  -1.8
2022-12-31   2.1  -5.1   7.2  0.0  65.5   1.4  1.1   4.16  11.5  -1.2

### 3. ARIMA 모델 설정 및 학습

In [12]:
!pip install statsmodels

Collecting statsmodels
  Downloading statsmodels-0.14.1-cp311-cp311-win_amd64.whl.metadata (9.8 kB)
Requirement already satisfied: numpy<2,>=1.18 in c:\users\kyeul\anaconda3\envs\regression\lib\site-packages (from statsmodels) (1.26.2)
Requirement already satisfied: scipy!=1.9.2,>=1.4 in c:\users\kyeul\anaconda3\envs\regression\lib\site-packages (from statsmodels) (1.11.4)
Requirement already satisfied: pandas!=2.1.0,>=1.0 in c:\users\kyeul\anaconda3\envs\regression\lib\site-packages (from statsmodels) (2.1.3)
Collecting patsy>=0.5.4 (from statsmodels)
  Downloading patsy-0.5.4-py2.py3-none-any.whl.metadata (3.4 kB)
Requirement already satisfied: packaging>=21.3 in c:\users\kyeul\appdata\roaming\python\python311\site-packages (from statsmodels) (23.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kyeul\anaconda3\envs\regression\lib\site-packages (from pandas!=2.1.0,>=1.0->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\kyeul\anaconda3\envs\regression\lib\site-packages (from pandas!=2.1.0,>=1.0->statsmodels) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\kyeul\anaconda3\envs\regression\lib\site-packages (from pandas!=2.1.0,>=1.0->statsmodels) (2023.3)
Requirement already satisfied: six in c:\users\kyeul\anaconda3\envs\regression\lib\site-packages (from patsy>=0.5.4->statsmodels) (1.16.0)
Downloading statsmodels-0.14.1-cp311-cp311-win_amd64.whl (9.9 MB)
   ---------------------------------------- 0.0/9.9 MB ? eta -:--:--
   ---------------------------------------- 0.0/9.9 MB ? eta -:--:--
   ---------------------------------------- 0.0/9.9 MB 435.7 kB/s eta 0:00:23
   ---------------------------------------- 0.1/9.9 MB 751.6 kB/s eta 0:00:13
    --------------------------------------- 0.2/9.9 MB 1.4 MB/s eta 0:00:07
   -- ------------------------------------- 0.5/9.9 MB 2.5 MB/s eta 0:00:04
   ---- ----------------------------------- 1.0/9.9 MB 4.1 MB/s eta 0:00:03
   ------ --------------------------------- 1.7/9.9 MB 5.7 MB/s eta 0:00:02
   --------- ------------------------------ 2.3/9.9 MB 6.8 MB/s eta 0:00:02
   ----------- ---------------------------- 2.8/9.9 MB 7.3 MB/s eta 0:00:01
   ------------ --------------------------- 3.1/9.9 MB 7.0 MB/s eta 0:00:01
   ---------------- ----------------------- 4.0/9.9 MB 8.3 MB/s eta 0:00:01
   ----------------- ---------------------- 4.2/9.9 MB 8.4 MB/s eta 0:00:01
   ------------------ --------------------- 4.6/9.9 MB 7.9 MB/s eta 0:00:01
   -------------------- ------------------- 5.1/9.9 MB 8.1 MB/s eta 0:00:01
   ----------------------- ---------------- 5.7/9.9 MB 8.4 MB/s eta 0:00:01
   ----------------------- ---------------- 5.8/9.9 MB 8.1 MB/s eta 0:00:01
   ------------------------- -------------- 6.2/9.9 MB 8.1 MB/s eta 0:00:01
   ---------------------------- ----------- 7.0/9.9 MB 8.6 MB/s eta 0:00:01
   ----------------------------- ---------- 7.3/9.9 MB 8.5 MB/s eta 0:00:01
   ------------------------------ --------- 7.6/9.9 MB 8.5 MB/s eta 0:00:01
   --------------------------------- ------ 8.2/9.9 MB 8.6 MB/s eta 0:00:01
   ----------------------------------- ---- 8.8/9.9 MB 8.8 MB/s eta 0:00:01
   ------------------------------------- -- 9.3/9.9 MB 8.9 MB/s eta 0:00:01
   ---------------------------------------  9.9/9.9 MB 9.1 MB/s eta 0:00:01
   ---------------------------------------- 9.9/9.9 MB 9.0 MB/s eta 0:00:00
Downloading patsy-0.5.4-py2.py3-none-any.whl (233 kB)
   ---------------------------------------- 0.0/233.9 kB ? eta -:--:--
   ---------------------------------- ---- 204.8/233.9 kB 12.2 MB/s eta 0:00:01
   ---------------------------------------- 233.9/233.9 kB 4.8 MB/s eta 0:00:00
Installing collected packages: patsy, statsmodels
Successfully installed patsy-0.5.4 statsmodels-0.14.1

In [13]:
from statsmodels.tsa.arima.model import ARIMA

In [15]:
# ARIMA 모델 훈련
model = ARIMA(train_df['평균기온'], order=(2, 1, 3)) # p, d, q 값
model_fit = model.fit()

C:\Users\kyeul\anaconda3\envs\regression\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

### 4. 예측 수행

In [17]:
submission_df['일시'] = pd.to_datetime(submission_df['일시'])

# 예측할 기간 설정
start_date = submission_df['일시'].min()
end_date = submission_df['일시'].max()

# ARIMA 모델 사용하여 예측
forecast = model_fit.predict(start=start_date, end=end_date, type='levels')

C:\Users\kyeul\anaconda3\envs\regression\Lib\site-packages\statsmodels\tsa\statespace\representation.py:374: FutureWarning: Unknown keyword arguments: dict_keys(['type']).Passing unknown keyword arguments will raise a TypeError beginning in version 0.15.
  warnings.warn(msg, FutureWarning)

In [18]:
submission_df['평균기온'] = forecast.values
display(submission_df.head())

          일시      평균기온
0 2023-01-01 -2.922955
1 2023-01-02 -4.701429
2 2023-01-03 -5.781571
3 2023-01-04 -6.478227
4 2023-01-05 -6.963622

In [20]:
# BaseLine 저장
submission_df.to_csv("./baseline_submit.csv", index=False)